<!DOCTYPE html>
{%extends 'lo_app/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block body_block%}
<div class="container">
    <div class="jumbotron">
        <h1>Please Log in</h1>
        <form action="{%url 'lo_app:login' %}" method="post">
            {%csrf_token%}
            <label for="username">Username:</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="login">
        </form>
    </div>
</div>
{%endblock%}
</body>
</html>